<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>
			
		</title>
		<style type="text/css">
			<%= render :partial => "user_company_mailer/style" %>
		</style>
		<style data-premailer="ignore" type="text/css">
/*<![CDATA[*/
		@media only screen and (max-width: 640px)  {
					body[yahoo] .deviceWidth {width:440px!important; padding:0;}    
					body[yahoo] .center {text-align: center!important;}      
			}
			
		@media only screen and (max-width: 479px) {
					body[yahoo] .deviceWidth {width:280px!important; padding:0;}    
					body[yahoo] .center {text-align: center!important;}      
			}

		/*]]>*/
		</style>
	</head>
	<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" yahoo="fix">
		<!-- Wrapper -->
		<table width="100%" align="center">
			<tr>
				<td width="100%" valign="top" bgcolor="#FFFFFF" class="header">
					<!-- Start Header-->
					<table width="580" align="center" class="deviceWidth">
						<tr>
							<td width="100%" bgcolor="#FFFFFF">
								<!-- Logo -->
								<table align="left" class="deviceWidth">
									<tr>
										<td class="center logo">
											<a href="#"><img src="<%= image_path('logo.png') %>" alt="Hoshinplan" border="0" /></a>
										</td>
									</tr>
								</table><!-- End Logo -->
								<!-- Nav -->
								<table align="right" class="deviceWidth">
									<tr>
										<td class="center claim">
											Make your business strategy work
										</td>
									</tr>
								</table><!-- End Nav -->
							</td>
						</tr>
					</table><!-- End Header -->
					<!-- One Column -->
					<table width="580" class="deviceWidth" align="center" bgcolor="#EEEEED">
						
						<tr>
							<td class="section dspacer" bgcolor="#EEEEED">
								<p>You accepted the invitation to collaborate. You are ready to use hoshinplan.com</p>
							</td>
						</tr>
					</table><!-- End One Column -->
					<div class="spacer">
						&nbsp;
					</div><!-- spacer -->
					<!-- 4 Columns -->
					<table width="100%" align="center">
						<tr>
							<td bgcolor="#363636" class="spacer">
								<table width="580" align="center" class="deviceWidth">
									<tr>
										<td>
											<table width="45%"  border="0" align="left" class="deviceWidth">
												<tr>
													<td valign="top" class="center legal">
														You are receiving this email because<br />
														1.) You're an awesome user of Hoshinplan or<br />
														2.) You subscribed via <a href="<%= url_for("/") %>">our website</a><br />
														<br />
														<br />
														Want to be removed? No problem, <a href="<%= url_for("/unsubscribe") %>">click here</a> and we won't bug you again.
													</td>
												</tr>
											</table>
											<table width="40%"  border="0" align="right" class="deviceWidth">
												<tr>
													<td valign="top" style="font-size: 11px; color: #f1f1f1; font-weight: normal; font-family: Georgia, Times, serif; line-height: 26px; vertical-align: top; text-align:right" class="center">
														
														<a href="#"><img src="<%= image_path("logo2.png") %>" alt="" border="0" style="padding-top: 5px;" /></a><br />
														<a href="#" style="text-decoration: none; color: #848484; font-weight: normal;">555-555-5555</a><br />
														<a href="#" style="text-decoration: none; color: #848484; font-weight: normal;">gabri@hoshinplan.com</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table><!-- End 4 Columns -->
				</td>
			</tr>
		</table><!-- End Wrapper -->
	</body>
</html>
